@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style($bg, $text) {
  background-color: $bg;
  color: $text;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all $transition-speed ease;
}
