// Цвета для светлой темы
$bg-light: #fdf6e3;
$text-light: #5b3a1a;
$accent-light: #d4a017;
$skill-light: #ffd699;

// Цвета для тёмной темы
$bg-dark: #3e2f1c;
$text-dark: #f3d88b;
$accent-dark: #f3d88b;
$skill-dark: #f3d88b;

// Общие переменные
$transition-speed: 0.4s;
